<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Current Weather</title>
</head>

<body>
<!--/*@thymesVar id="currentWeather" type="weather.remote_weather_api.Weather.CurrentWeather"*/-->
<form action="" th:action="@{/current-weather}"  th:object="${currentWeather}" method="get">
    <table>
        <tr>
            <td>
                City
            </td>
            <td>
                <label>
                    <select th:field="*{city}">
                        <option  th:each="city : ${cities}"
                                 th:value="${city}"
                                 th:text="${city}"
                        >City</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>
