<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current Weather</title>
</head>
<body>
<!--/*@thymesVar id="currentWeather" type="weather.remote_weather_api.Weather.CurrentWeather"*/-->

<div>
    <h3>Country</h3>
    <p th:text="${currentWeather.country}">Description</p>
    <h3>City</h3>
    <p th:text="${currentWeather.city}">Description</p>
    <h3>Current Conditions</h3>
    <p th:text="${currentWeather.description}">Description</p>
    <h3>Temperature</h3>
    <p th:text="${currentWeather.temperature} + ' &#8451;'">Temperature</p>
    <h3>Feels Like</h3>
    <p th:text="${currentWeather.feelsLike} + ' &#8451;'">Feels Like</p>
    <h3>Pressure</h3>
    <p th:text="${currentWeather.pressure} + ' mHg;'">Feels Like</p>
    <h3>Wind Speed</h3>
    <p th:text="${currentWeather.windSpeed} + ' kmph'"></p>
</div>
</body>
</html>